/* @theme uga */

@import 'default';
@font-face {
    font-family: "Belledonne";
    src: url("assets/fonts/Belledonne-VF.ttf");
    src: url('assets/fonts/Belledonne-VF.woff2') format('woff2-variations');
}

* {
    font-family: "Belledonne";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root,
section {
    --h1-color: #e84e0f;
    --heading-strong-color: #e84e0f;
    --header-footer-color: #e84e0f;
    --paginate-color: #e84e0f;
    --color-fg-default: black;
    --color-fg-muted: #57606a;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: white;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #cf222e;
    --font-size: 29px;
    font-family: "Belledonne";
    font-size: var(--font-size);
    justify-content: start;
    
}

section :not(h1,h2,h3,h4,h5,h6){
    text-align: justify;
}

section.lead {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.lead h1,
.lead h2,
.lead h3,
.lead h4,
.lead h5,
.lead h6 {
    text-align: center;
}


/* stylelint-disable-next-line no-descending-specificity */

.lead p {
    text-align: center;
}


/*.lead blockquote {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6,
      > p {
        text-align: left;
      }
    }

    ul,
    ol {
      > li > p {
        text-align: left;
      }
    }

    table {
      margin-left: auto;
      margin-right: auto;
    }
  }*/

section::before {
    content: url('assets/logo-bleu.svg');
    height: 0px;
    width: 150px;
    right: 5%;
    top: 5%;
    position: absolute;
}

section.invert::before {
    content: url('assets/logo-blanc.svg');
}

:root.invert,
section.invert {
    --h1-color: #e84e0f;
    --header-footer-color: #e84e0f;
    --heading-strong-color: #e84e0f;
    --paginate-color: #c9d1d9;
    --color-fg-default: white;
    --color-fg-muted: #8b949e;
    --color-fg-subtle: #484f58;
    --color-canvas-default: #2a2e46;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;
    --color-attention-subtle: rgba(187, 128, 9, 0.15);
    --color-danger-fg: #f85149;
    /*border: 1rem solid white;*/
    background-color: #2a2e46;
}

h1,
h2 {
    font-weight: 800;
    color: #e84e0f;
}

h1 a,
h2 a {
    color: #e84e0f;
}

h2::after {
    height: 7px;
    width: 80px;
    background: #e84e0f;
    content: "";
    display: block;
}

h2::after {
    height: 7px;
    width: 80px;
    background: #e84e0f;
    content: "";
    display: block;
}

section > :first-child, 
section > header:first-child {
    /*margin-top: 100px !important;*/
    margin-right: 150px;
}

section[data-marpit-advanced-background-split="left"] > :first-child{
    margin-top: 100px !important;
    margin-right: 0px;
}

section.t-90  :not(h1,h2){
    font-size: calc(var(--font-size)*0.9);
}
section.t-80 :not(h1,h2){
    font-size: calc(var(--font-size)*0.8);
}
section.t-75 :not(h1,h2){
    font-size: calc(var(--font-size)*0.75);
}
section.t-70 :not(h1,h2){
    font-size: calc(var(--font-size)*0.7);
}
section.t-60 :not(h1,h2){
    font-size: calc(var(--font-size)*0.6);
}
section.t-50 :not(h1,h2){
    font-size: calc(var(--font-size)*0.5);
}
section.t-40 :not(h1,h2){
    font-size: calc(var(--font-size)*0.4);
}
section.t-30 :not(h1,h2){
    font-size: calc(var(--font-size)*0.3);
}
section.t-25 :not(h1,h2){
    font-size: calc(var(--font-size)*0.25);
}